SC_dataset/*
sc09/*
DiffWave-unconditional/exp/ch256_T200_betaT0.02/logs/checkpoint/1000000.pkl
model/audio_diff_gan/mels/
model/audio_diff_gan/mels_old/
/**/.ipynb_checkpoints/
/**/__pycache__/
model/saved_info
audioldm_eval
model/audiodiffgan_generated_ddgan_SC09_*
/**/.DS_Store
audio_examples/.DS_Store