SC_dataset/*
DiffWave-unconditional/exp/ch256_T200_betaT0.02/logs/checkpoint/1000000.pkl
ddgan/audio_diff_gan/mels/
ddgan/audio_diff_gan/mels_old/
/**/.ipynb_checkpoints/
/**/__pycache__/
ddgan/saved_info/